@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #adadad;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    background: #000;
    height: 90vh;
    width: 100%;
    max-width: 370px;
    /* padding: 20px; */
    color: #fff;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-width: 370px;
    z-index: 999;
    background: #000;
    padding: 10px;
}

.container .header .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .header button {
    background: #777777;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.container .header button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
}

.left-side-content {
    flex: 1; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.sidebar {
    width: 320px;
    height: 90vh;
    background: #333;
    position: fixed;
    top: 0;
    left: -800px;
    transition: left 0.3s ease-in-out;
    overflow: hidden;
    padding: 40px 20px;
}

.sidebar.active {
    left: -185px;
}

.sidebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #fff;
}

.profile-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-header .profile-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-header .profile-content img {
    width: 40px;
    border-radius: 50%;
}

.profile-header .fa-gear {
    font-size: 22px;
}

.form {
    position: relative;
    margin: 80px 20px 0 20px;
}

.form .search-content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.form input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #333;
}



.sidebar-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    gap: 15px;
}

.sidebar-container .sidebar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sidebar-container .sidebar-content.active {
    background: #464545;
    padding: 10px;
    border-radius: 10px;
}

.sidebar-container .sidebar-content .chats-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-container .sidebar-content i {
    font-size: 18px;
    background-color: #777777;
    padding: 12px;
    border-radius: 10px;
}





.stories-container {
    display: flex;
    overflow-x: scroll;
    padding: 0 10px 10px;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    position: relative;
    /* gap: 10px; */
  }
  
  .stories-container::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  
  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
  }
  
  .story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border: none;
  }
  
  .user-name {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background: linear-gradient(transparent, #222 130%);
    color: #fff;
    padding: 5px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  

  .main-body-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
    z-index: 1;
  }

  
  .main-body-container .msger-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 20px;
  }

  .main-body-container .msger-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .main-body-container .msger-container p {
    font-size: 18px;
  }

  .main-body-container .msger-container span {
    font-size: 13px;
  }
